@model CryptoSimulation.Models.WalletPart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WalletPart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wallet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wallet.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WalletPartID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
