@model IEnumerable<CryptoSimulation.Models.WalletPart>

@{
    ViewData["Title"] = "Index";
}

<h1>Wallet</h1>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var name = CoinMethods.getDisplayName(item.Currency);
            //var src = CoinMethods.getImg(item.Currency);


            <tr>
                <td>
                    @{switch (item.Currency)
                        {
                            case "BTC":
                                <img src="~/src/btc_icon.png" />;
                                break;

                            case "ETH":
                                <img src="~/src/eth_icon.png" />;
                                break;

                            case "USDT":
                                <img src="~/src/usdt_icon.png" />;
                                break;

                            case "ADA":
                                <img src="~/src/ada_icon.png" />;
                                break;

                            case "LTC":
                                <img src="~/src/ltc_icon.png" />;
                                break;

                            case "XLM":
                                <img src="~/src/xlm_icon.png" />;
                                break;

                            case "BCH":
                                <img src="~/src/bch_icon.png" />;
                                break;

                            case "BNB":
                                <img src="~/src/bnb_icon.png" />;
                                break;

                            case "XRP":
                                <img src="~/src/xrp_icon.png" />;
                                break;

                            case "DOGE":
                                <img src="~/src/doge_icon.png" />;
                                break;

                            default:
                                break;
                        } }
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => name)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Amount)$
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.WalletPartID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
